<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Development</title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/post/create">Add Post</a>
    <p><%= description %></p>
    <h2>Posts</h2>
     
    <ul>
        <% if (posts) { %>
            <!--  posts.forEach(function(post) { -->
         <% posts.forEach(post => { %>
          <a href="/post/<%= post.id %>">
            <li><%= post.title %> </li>
          </a>
         <% }) %>
        <% } %>
    </ul> 

</body>
</html>